<h2> {{title}} </h2>
<div class="row">
  <button class="btn btn-info" [class.active]="filterBy=='all'" (click)="filterBy=='all'">All</button>
  <button class="btn btn-info" [class.active]="filterBy=='all'" (click)="filterBy=='all'">UK</button>
  <button class="btn btn-info" [class.active]="filterBy=='all'" (click)="filterBy=='all'">All</button>
  <button class="btn btn-info" [class.active]="filterBy=='all'" (click)="filterBy=='all'">All</button>

  <ul id="thumbnailsList">
    <li *ngFor="let image of visibleImages">
      <img src ="{{image.url}}" class="tn" width="325" height="275">
    </li>
  </ul>
</div>
